.App {
    height: 100%;
  }
  
  header {
    background-color: rgb(75, 75, 75);
    padding: 20px;
    height: 15%;
    color: white;
  }
  
  main {
    display: flex;
    flex-direction: row;
    height: 85%;
    padding: 20px;
  }
  
  